<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class = "container">
        <div class = "login">
            <form>
              <p>이름</p>
              <input type="text" name="name" class=""text-field" placeholder="이름">
              <p>아이디</p>
              <input type="text" name="email" class="text-field" placeholder="새 아이디">
              <p>비밀번호</p>
              <input type="text" name="password" class="text-field" placeholder="비밀번호">
              <p>비밀번호 확인</p>
              <input type="text" name="password" class="text-field" placeholder="비밀번호 확인">
              <br>
              <br>
              <input type="submit" value="회원가입" class="submit-button">
            </form>        
          </div>
    </div>
</body>
</html>
</html>